$blue: blue;
$gray: #e6e6e6;
$lightGray: #d8d8d8;
$mediumGray: #979797;
$darkGray: #616161;
$blackGray: #272822;
$primary: rgb(33, 150, 243);
$secondary: rgb(200, 230, 201);
$materialBlue: #00bcd4;
$background: #f2f2f2;
$white: #ffffff;
$navbar: $materialBlue;
$navbarText: $white;
$subNavbar: $materialBlue;
$editorBackground: $blackGray;
$success: #c8e6c9;
$error: #ffa3a3;
$accentColor: #03a9f4;
$Tab: #333333;
$linkBlue: #427fed;
$forestGreen: #08605f;
$deepPurple: #372772;
$lavendarPurple: #827191;
$niceBeige: papayawhip;
$niceViolet: paleviolet;
